<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>後台管理</title>

    <style>
        table {
            margin-left: auto;
            margin-right: auto;
        }

        .table thead th {
            text-align: center;
            color: #ffffff;
            background-color: rgb(0, 0, 0);
            font-family: 'Helvetica Neue', Helvetica, Arial, STHeitiTC-light, STHeiti,
                'Microsoft JhengHei', 微軟正黑體, sans-serif;
            letter-spacing: 2px;
        }

        .table th {
            height: 60px;
            width: 100px;
            padding: 10px;
            font-size: 20px;
            margin: 5px;
        }

        .table tr {
            margin: 10px;
        }

        .table td {
            text-align: center;
            height: 60px;
            width: 100px;
            padding: 10px;
            font-size: 20px;
            margin: 5px;
        }
        
     
        body {
            background-color: #B5DEF2;
            text-align: center;
        }

        .title2 {
            line-height: 80px;
            margin: 30px;
            align-content: center;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            height: 80px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        #top span {
            margin: auto;
            padding-top: 8px;
            line-height: 24px;
            color: white;
            padding: 5px;
            letter-spacing: 3px;
            font-family: 'Microsoft JhengHei';
            /* margin-right: 40px; */
        }

        #top span.boxon {
            border: white 1px solid;
            background-color: #ffffff;
            color: rgb(34, 34, 34);
        }

        #top span.personnel {
            /* background-color: #ff452d; */
            color: rgb(255, 255, 255);
            padding: 5px 20px;
            font-size: 15px;
            letter-spacing: 1px;

            float: right;
        }

        #top span.title {
            padding: 5px 30px;
            line-height: 30px;
            display: inline-block;
            position: relative;
            transform: skew(-5deg);
            margin-top: 22px;
            margin-bottom: 10px;
            font-family: 'Microsoft JhengHei';
        }

        #top span.title::before {
            position: absolute;
            z-index: -1;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgb(59, 58, 58);
            transform: skew(-25deg);
            box-shadow: 5px 0px 7px rgba(82, 82, 82, 0.4);
        }

        .btn {
            margin-left: 5px;
            font-size: 20px;
            height: 45px;
            width: 200px;
            float: left
        }

        .btn-back {
            color: white;
            background-color: rgb(224, 83, 40);
        }
        .btn-back:hover {
             background: #dadada;
}

        .btn-darkblue {
            color: white;
            background-color: green;
        }
        .btn-darkblue:hover {
             background: #dadada;
}
    </style>
</head>

<body>
    <h1>
        <div id="top" style="background-color: #070707;">
            <span class="title">龍華區塊鏈</span>
            <span class="personnel">歡迎登入 , <%=req.session.memberno %>&nbsp;<%=req.session.username %></span>
        </div>
        <div class="title2">
            <%= title %>
        </div>
    </h1>
    <div>
        <div style="padding: 10px;">
            <table id="exchange_table" class="table">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>名稱</th>
                        <th>數量</th>
                        <th>提領</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<exchangeGoods.length; i++) { %>
                        <tr>
                            <td>
                                <%= exchangeGoods[i].itemno %>
                            </td>
                            <td>
                                <%= exchangeGoods[i].itemname %>
                            </td>
                            <td>
                                <%= exchangeGoods[i].exchangevolume %>
                            </td>
                            <td><input id="exchange_<%= i %>" type="button" class="btn btn-darkblue" value="提領"
                                    onclick="exchange('<%= exchangeGoods[i].id %>')"></td>
                            <input id="thisstatus_<%= i %>" type="hidden" value="<%= exchangeGoods[i].thisstatus %>">
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div style="font-size: 30px;margin-top: 150px;">點數:<%=req.session.point %>
    </div>

    <div style="display: -webkit-inline-box;">
        <div style="margin: 50px;">
            <input id='add' class="btn btn-back" type="button" onclick="backClick()" value="回首頁" />
        </div>
    </div>
</body>

<script>
    $(function () {
        var table = document.getElementById("exchange_table");
        var tbodyRowCount = table.tBodies[0].rows.length;

        for (var i = 0; i < tbodyRowCount; i++) {
            var exchange = document.getElementById("exchange_" + i);
            var thisstatus = document.getElementById("thisstatus_" + i).value;

            if (thisstatus == "1") {
                exchange.disabled = true;
                exchange.value = "已提領";
                $("#exchange_" + i).css("background-color", "#666262");
            }
        }
    });

    function exchange(id) {

        if(confirm('確認提領?')){
            $.ajax({
            type: 'POST',
            url: '/exchangeGoodsLog',
            data: {
                id: id,
               
            },
            dataType: "json",
            success: function (e) {
                if (e.result == "Y") {
                    alert('兌換成功!');
                }
                else {
                    alert('兌換失敗!');
                }
                window.location.href = "/exchangeGoods";
            },
            error: function (result) {
                //console.log("error");
            }
        });
        }
        
    }

    function backClick() {
        window.location = '/backStageIndex';
    }
</script>

</html>